---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header';

import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} client:load/>
		
		<main>
			<div class="text-xl font-josefin">This is text in Josefin Sans</div>
			<div class="text-xl font-playfair">This is text in Playfair Display</div>
		</main>
		<Footer />
	</body>
</html>
