---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header';
import Newsletter from '../components/Newsletter';
import Podcast from '../components/Podcast';
import Collab from '../components/Collab';
import Footer from '../components/Footer';
import Feature from '../components/Feature';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Hero from '../components/Hero';
import OurMission from '../components/OurMission';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header  client:load/>
    	<Hero />
		<Newsletter />
		<Podcast />
		<Collab />
		<Feature/>
		<OurMission />
		<Footer/>
	</body>
</html>
