---
---
<main class="bg-secondary w-full h-content py-12 flex flex-col gap-2 justify-center items-center">
    <div class='w-1/2 md:w-full  flex flex-col gap-2 justify-center items-center'>
    <div class="text-black text-xl font-thin font-josefin">
        to keep up with our latest content
    </div>
    <div class="text-black text-5xl font-medium font-playfair pb-2">
        JOIN OUR NEWSLETTER
    </div>
    <div class="md:w-96 w-40 h-[1.5px] bg-black"></div>
    <div class="w-content flex flex-col justify-center gap-4 px-6 pt-4 md:flex-row">
        <iframe src="https://beautifulyou.substack.com/embed" class="w-[300px] md:w-[480px]" height="150" style="border:1px solid #FCC6C5; background:#FCC6C5; frameborder="0" scrolling="no"></iframe>
        <!-- <input type="text" placeholder="Your Name" class=" w-64 h-10 focus:border-primary border-white border-2 leading-tight py-2 px-2 text-black placeholder:text-black active:border-primary text-lg font-thin font-josefin" />
        <input type="email" placeholder="Email Address" class="w-64 h-10 focus:border-primary border-white border-2 leading-tight py-2 px-2 text-black placeholder:text-black active:border-primary text-lg font-thin font-josefin"/>
        <button class='bg-black px-4  text-white text-lg hover:bg-black/80 00'>Sign Up</button>
        <iframe src="https://beautifulyou.substack.com/embed" width="480" height="150" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>  -->
    </div>
    </div>
</main>